.home__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
  position: absolute;
  margin: 1rem 0;
}
.home__navbar__logo {
  width: 150px;
  height: 100px;
  padding-left: 2rem;
  cursor: pointer;
}
.home__navbar__button::before {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: center center;
  transition: transform 0.3s ease-out;
}
.home__navbar__button:hover::before {
  transform: scaleX(0.5);
  transform-origin: center center;
}
